$white: #fff;

$gray-500: #9aa7be;

$teal-100: #e6eff5;
$teal-400: #4abfbd;
$teal-500: #2ab3b1;

$green-400: #c0df33;

$spacing-0: 0rem;
$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-500: 2.5rem;

$breakpoint-tablet: 48rem;
$breakpoint-desktop: 64rem;